form{
    margin-left:30%; 
    margin-top: 5%;
    width:100%;
}
  label {
  
    display: inline-block;
    font-size: 18px;
  }
  h2{
    margin-top:30px;
  }
  .form-group row{
    padding:10px;
  }
  input[type=checkbox] {
    zoom: 1.5;
  }
  .btn {
  
    margin: .375rem; padding: .90rem 2.5rem;
     }
  .button{
    margin-top: 50px;
    margin-left: 15%; 
  }
  .data{
    position: relative;
    left: 8%;
    width: 85%;
 }
 .spacer{
     flex:8 8 auto;
 }
 .navbar-light{
     background-color: #4A4DE7;
 }
 .dropdown-item:hover{
     background-color:lightgray;
 }
 .link{
  font-size:17px;
 }
