<div class = "container-fluid mb-5">
    <h1 style="text-align:center;margin-top:40px;">Register For Internet Banking</h1>
        <form #createAccount="ngForm">
            <div class = "form-group">
                <label><strong>Account Number</strong></label>
                <input class="form-control"  type="text" name="AccountNo" />
            </div>
            <div class = "form-group">
                <label><strong> Set Login Password</strong></label>
                <input class="form-control"  type="text" name="loginpassword" />
            </div>
            <div class = "form-group">
                <label><strong>Confirm Login Password</strong></label>
                <input class="form-control"  type="text" name="loginpassword1" />
            </div>
            <div class = "form-group">
                <label><strong>Set Transaction Password</strong></label>
                <input class="form-control"  type="text" name="transactionpassword"/>
            </div>
            <div class = "form-group">
                <label><strong>Confirm Transaction Password</strong></label>
                <input class="form-control"  type="text" name="transactionpassword1" />
            </div>
            <div class = "form-group">
                <label><strong>Enter Phone Number</strong></label>
                <input class="form-control"  type="text" name="phonenumber" />
            </div>
            <div class = "form-group">
                <label><strong>OTP</strong></label>
                <input class="form-control"  type="text" name="OTP" />
            </div>
            <div>
                <button class="btn btn-primary btn-lg ">Submit</button>
            </div>

        </form>
</div>

