<nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
      <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
    </svg>
    <div class="spacer_logo"></div>  
  <a  routerLink="/aboutbank" style="transform:translateY(17px); margin-left:5px; color: aliceblue;font-size:20px;" class="navbar-brand" href="#">Banking</a>
  <div class="spacer"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link active" aria-current="page">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link active">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/internet-banking" class="nav-link active">Internet Banking</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create new account" class="nav-link active">Create New Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ngb-carousel #carousel [interval]="2000">
  <ng-template ngbSlide *ngFor="let img of bank; index as i">
    <div class="carousel-caption">
    </div>

      <div class="picsum-img-wrapper">
        <img [src]="img" alt="My image {{i + 1}} description" style="height:350px;width:100%">
      </div>
    
  </ng-template>
</ngb-carousel>
<div class="container pt-5 cards">
  <div class="row">
    <div class="col-lg-4 pb-5">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="assets/images/card.jpg" style="height:190px;" alt="Card image cap">
          <div class="card-body">
          <h2 class="card-title">Get Debit Cards</h2>
          <p class="card-text">Truth is like a debit card . Pay first and Enjoy it Later.Create an account instantly and get your Platinum Debit Card for the transactions.You can withdraw upto 50 thousand in a day </p>
          <h2 href="#" class="btn btn-primary">Debit Cards</h2>
          </div>
       </div>
   </div>
   <div class="col-lg-4 pb-5">
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="assets/images/bank_1.jpg" style="height:190px;" alt="Card image cap">
      <div class="card-body">
      <h2 class="card-title">Avail Gold Loan</h2>
      <p class="card-text">Get the money you need,when you need it.Money in your within 20 minutes.Avail Gold Loan instantly for the best offers and discounts.Interest Rate starting from 9.50%</p>
      <h2 href="#" class="btn btn-primary">Gold Loan</h2>
      </div>
   </div>
</div>
<div class="col-lg-4 pb-5">
  <div class="card" style="width: 25rem;">
    <img class="card-img-top" src="assets/images/insurance.jpg" style="height:190px;" alt="Card image cap">
    <div class="card-body">
    <h2 class="card-title">Insurance</h2>
    <p class="card-text">Fun is like Life Insurance.The Older you get the more it Costs.Getting Insurance is your responsibility to your family and loved ones.You may hate it but it is your responsibility</p>
    <h2 href="#" class="btn btn-primary">Insurance</h2>
    </div>
 </div>
</div>
  </div>
  </div>
  <div class="container pt-5 cards">
    <div class="row">
      <div class="col-lg-4 pb-5">
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="assets/images/credit.jpg"  style="height:190px;"alt="Card image cap">
            <div class="card-body">
            <h2 class="card-title">Get Credit Cards</h2>
            <p class="card-text">Credit Cards are really great cheap resource of funds.Apply Credit cards instantly and enjoy its benefits.The interest rate is 1.90% and make use most of it. </p>
            <h2 href="#" class="btn btn-primary">Credit Cards</h2>
            </div>
         </div>
     </div>
     <div class="col-lg-4 pb-5">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="assets/images/homeloan.jpg" style="height:190px;"alt="Card image cap">
        <div class="card-body">
        <h2 class="card-title">Avail Home Loan</h2>
        <p class="card-text">Interest Rate starting with 6.50% per annum now thats the best deal on home loan.Maximum Loan amount upto 10 lakhs per annum.Apply Home loan instantly to enjoy the benefits.</p>
        <h2  class="btn btn-primary">Home Loan</h2>
        </div>
     </div>
  </div>
  <div class="col-lg-4 pb-6">
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="assets/images/mutual funds.jpg"style="height:190px;" alt="Card image cap">
      <div class="card-body">
      <h2 class="card-title">Mutual Fund</h2>
      <p class="card-text">A mutual fund is a professionally-managed investment scheme.Invests your  money in stocks and enjoy the benefits such as portfolio management and fair pricing...</p>
      <h2 class="btn btn-primary">Mutual fund</h2>
      </div>
   </div>
  </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid p-3 footer" style="background-color:#4a4de7;">
<h2 style="color: aliceblue;">In case of any queries.Please write to <a href="#" style="color: aliceblue;"><u>http://www.support.peoplesbank.com</u></a></h2>
<h2 style="color:aliceblue;">&copy; &nbsp;Copyright 2021.All Rights Reserved.</h2>
<h2 style="color:aliceblue">Follow us at<a href=""  class="fa fa-facebook"></a>
<a href="#"style="transform:translateX(40px);position:relative" class="fa fa-twitter"></a>
<a href="#" style="transform:translateX(60px);position:relative"class="fa fa-google"></a>
<a href="#" style="transform:translateX(80px);position:relative" class="fa fa-linkedin"></a></h2>
</div>