
<div class="container-fluid  p-2 my-4 bg-dark text-white" style="text-align:center;">
    <h1 style="transform:translateY(5px);">Account Statement</h1>
  </div> 
  
  <div class="container" >
  <table class="table table-striped">
  <thead class="thead-light">
  
  <tr style="font-size:17px">
    <th scope="col">Applicant Name</th>
    <th scope="col">Email id</th>
    <th scope="col">Date Of Birth</th>
    <th scope="col">Address</th>
    <th scope="col">Aaadhar Number</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let registration of newRegistrations" id="{{registration.aadhar}}"style="font-size:17px">
    <td >
	{{registration.firstName+registration.middleName+registration.lastName}}</td>
    <td>
	{{registration.emailId }}
    </td>
    <td>
	{{registration.dateOfBirth}}
    <td>
	{{registration.addressLine1+" "+registration.city+" "+registration.state}}
    </td>
    <td>
	{{registration.aadharNumber}}
    </td>
    <td>
	<button class="button" (click)="Approve(registration)">Approve</button><br>
	<button class="button" (click)="Reject()">Reject</button><br>
    </td>
  </tr>
  </tbody>
  </table>
  </div><br/>
